<header>
		<h1>Acme Credit Purchase Edit</h1>
</header>

<nav>
  <ul>
    <li><a href="/purchases/new">Make a new purchase</a></li><br>
    <li><a href="/purchases">Show all purchases</a></li><br>
    <li><a href="/logout">Log out</a></li>
  </ul>
</nav>

<article>
  <p>Customer: <strong><%= @user.name %></strong></p>
	<% if flash.has?(:message) %>
		<font color="red">
			<%= flash[:message] %><br>
		</font>
	<% end %>
  <form action="/purchases/<%= @purchase.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <% (0..2).each do |i| %>
      <p>
      Item:
      <select name="select_item_<%= i %>">
        <option value="0"></option>
        <% Item.all.each do |item| %>
          <option value="<%= item.id %>" <%= 'selected' if (@purchase.purchase_items.size > i) && (item.id == @purchase.purchase_items[i].item.id) %>><%= item.name %></option>
        <% end %>
      </select>
      Quantity: <input type="number" name="quantity_<%= i %>" value="<% if (@purchase.purchase_items.size > i) %> <%= @purchase.purchase_items[i].quantity %> <% else %> <%= '' %> <% end %>">
      Price: <input type="number" step="0.01" name="price_<%= i %>" value="<% if (@purchase.purchase_items.size > i) %> <%= format("%.2f", @purchase.purchase_items[i].sale_price) %> <% else %> <%= '' %> <% end %>">
      </p>
    <% end %>
    <p><input type="submit" value="Update"></p>
  </form>
</article>
