<header>
		<h1>Acme Credit Purchases</h1>
</header>

<nav>
  <ul>
    <li><a href="/purchase">Make a new purchase</a></li><br>
    <li><a href="/purchases">Show all purchases</a></li><br>
    <li><a href="/logout">Log out</a></li>
  </ul>
</nav>

<article>
  <p>Customer: <strong><%= @user.name %></strong></p>
  <% @purchases.each do |purchase| %>
    <table width="50%">
      <tr>
        <td>Transaction #: <%= purchase.id %></td>
        <td><%= purchase.created_at.to_time.getlocal("-05:00").asctime %></td>
				<td><a href="/purchase/<%= purchase.id %>/edit">Edit</a></td>
				<td><a href="/purchase/<%= purchase.id %>/delete">Delete</a></td>
      </tr>
      <tr>
        <th class="category">Category</th>
        <th class="item">Item</th>
        <th class="quantity">Quantity</th>
        <th class="price">Price</th>
      </tr>
      <% total = 0.0 %>
      <% purchase.purchase_items.each do |purchase_item| %>
        <tr>
          <td class="category"><%= purchase_item.item.category.name %></td>
          <td class="item"><%= purchase_item.item.name %></td>
          <td class="quantity"><%= purchase_item.quantity %></td>
          <td class="price"><%= format("%.2f", purchase_item.sale_price) %></td>
        </tr>
        <% total += purchase_item.sale_price %>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="total"><%= format("%.2f", total) %></td>
      </tr>
    </table>
  <br>
  <% end %>
</article>
