<h3>Acme Credit Purchase</h3>

<p>Customer: <%= @user.name %></p>

<form method="post" action="/purchase">
  <% (1..3).each do |i| %>
    <p>
    Item:
    <select name="select_item_<%= i %>">
      <option value="0"></option>
      <% Item.all.each do |item| %>
        <option value="<%= item.id %>"><%= item.name %></option>
      <% end %>
    </select>
    Quantity: <input type="number" name="quantity_<%= i %>">
    Price: <input type="number" step="0.01" name="price_<%= i %>">
    </p>
  <% end %>
  <p><input type="submit" name="Purchase"></p>
</form>

<p><a href="/purchase">Cancel purchase</a></p>
<p><a href="/logout">Log out</a></p>
